<p>login works!</p>


<div class="container login-form">
    <!--<form action="submit" class="form-group">  
        <div class="label-input">
            <label for="">Username:</label>
            <input class="form-control" type="email">
        </div>
        <div  class="label-input">
            <label for="">Password:</label>
            <input class="form-control" type="Password">
        </div>    
    </form>

    <button class="btn btn-primary" type="submit">submit</button>-->


    <div class="form-group1">
        <div class="label-input">
            <label for="">Username:</label>
            <input class="form-control" type="email">
        </div>
        <div class="label-input">
            <label for="">Password:</label>
            <input class="form-control" type="Password">
        </div>
    </div>

</div>